.app-view-header
  strong(ng-bind='$root.pos.name')
  small Frente de Caixa
.container-fluid.container-flush
  .row
    .col-lg-4.col-md-4.col-xs-12
      h2 Nova venda sendo realizada:
      .table-responsive
        table.table.table-striped
          thead
            tr
              th produto
              th valor
              th quantidade
              th valor total
          tbody
            tr(ng-repeat="item in ctrl.selectedSale.items")
              td
                span(ng-bind='item.product.name')
              td
                span(ng-bind='item.product.price | currency : "R$" : 2')
              td
                span(ng-bind='item.quantity')
              td
                span
                  | {{(item.product.price * item.quantity) | currency : 'R$' : 2}}
          tfoot
            tr
              td
              td
              td
              td
                span(ng-bind="ctrl.calculateSellValue() | currency : 'R$' : 2")
  hr
  .row
    fieldset
      .form-group
        label(class='col-md-2 control-label' for='barcode')
          | Código de Barras
        .col-md-10
          input(id='barcode' ng-model='ctrl.search.barcode' class='form-control shadow-z1' type='text' autofocus)
  .row
    .col-lg-4.col-md-4.col-xs-6(ng-repeat="product in ctrl.products | filter:ctrl.search.barcode")
      .row(ng-click='ctrl.sell(product)')
        .col-md-12.col-xs-12
          // START Panel
          .panel.panel-card-xs.panel-card-image(chained-animation="fadeInUp" ng-style="{'background-image':'url({{product.images[0].secure_url}})'}")
            .panel-footer.text-center
              .row
                .col-md-12.col-xs-12
                  h2.text-lg.text-white {{ product.price | currency : 'R$' : 2 }}
                  small.text-white(ng-bind="product.name") - small.text-white(ng-bind="product.description")
script(type="text/ng-template" id="sellDetails.html")
  .modal-content
    .modal-header
      h4.modal-title#myModalLabel Realizando venda do produto {{control.product.name}}
    .modal-body
      fieldset
        .form-group
          label(class='col-md-2 control-label' for='quantity')
            | Quantidade
          .col-md-10
            input(id='quantity' ng-model='control.quantity' class='form-control shadow-z1' type='number')
    .modal-footer
      .form-group
        a.btn.btn-md.btn-success.btn-flat(href="#" ripple="" ng-click="control.save()")  Salvar
        |&nbsp;
        a.btn.btn-md.btn-danger.btn-flat(href="#" ripple="" ng-click="control.close()") Cancelar