.settings-inner
  .settings-button(ng-click="showSettings = !showSettings")
    em.icon-head
  .settings(ng-controller="AuthController as ctrl")
    .settings-inner
      .settings-content
        .pt.ph
          p.text-muted {{$root.pos.name}}
          .clearfix.mb
            .pull-left.wd-tiny.mb
              label
                small
                  strong(ng-bind="$root.user.email")
        hr
        .pt.ph
          p.text-muted
          .clearfix.mb
            .pull-left.wd-tiny.mb
              a(href='#' ng-click='ctrl.logout()' class='btn btn-sm btn-danger')
                span(class='fa fa-power-off') &nbsp;Sair