// START Sidebar
.sidebar-wrapper
  .sidebar(ui-sidebar="")
    .sidebar-nav
        ul.nav
          // Iterates over all sidebar items
          li.nav-heading
            span.text-muted Navegação Principal
          li(ng-class="{active:$state.includes('register')}")
            a(href='', title='Cadastros', ripple='')
              em.sidebar-item-icon.fa.fa-edit
              em.sidebar-item-caret.fa.pull-right
                span Cadastros
            ul.nav.sidebar-subnav
              li(ui-sref-active="active")
                a(ui-sref='app.products', title='produtos', ripple='')
                  em.sidebar-item-icon.fa.fa-table
                  span Produtos
          li(ng-class="{active:$state.includes('management')}")
            a(href='', title='Gestão', ripple='')
              em.sidebar-item-icon.fa.fa-bar-chart
              em.sidebar-item-caret.fa.pull-right
                span Gestão
            ul.nav.sidebar-subnav
              li(ui-sref-active="active")
                a(ui-sref='management.cashier', title='caixa', ripple='')
                  em.sidebar-item-icon.fa.fa-tags
                  span Caixa
              li(ui-sref-active="active")
                a(ui-sref='management.stock', title='estoque', ripple='')
                  em.sidebar-item-icon.fa.fa-dollar
                  span Estoque
              li(ui-sref-active="active")
                a(ui-sref='management.sells', title='vendas', ripple='')
                  em.sidebar-item-icon.fa.fa-money
                  span Vendas
          li(ng-class="{active:$state.includes('app')}")
            a(href='', title='Operações', ripple='')
              em.sidebar-item-icon.fa.fa-cogs
              em.sidebar-item-caret.fa.pull-right
                span Operações
            ul.nav.sidebar-subnav
              li(ui-sref-active="active")
                a(ui-sref='app.dashboard', title='dashboard', ripple='')
                  em.sidebar-item-icon.fa.fa-dashboard
                  span Dashboard
              li(ui-sref-active="active")
                a(ui-sref='app.sales', title='frente de loja', ripple='')
                  em.sidebar-item-icon.fa.fa-desktop
                  span Frente de Caixa
          li
            a(href='', title='Segurança', ripple='')
              em.sidebar-item-icon.fa.fa-lock
              em.sidebar-item-caret.fa.pull-right
                span Segurança
            ul.nav.sidebar-subnav
              li(ui-sref-active="active")
                a(ui-sref='app.pos', title='pos', ripple='')
                  em.sidebar-item-icon.fa.fa-sign-out
                  span Sair do PDV
// END Sidebar
