<div class="settings-inner">
   <div ng-click="showSettings = !showSettings" class="settings-button">
      <em class="icon-head"></em>
   </div>
   <div ng-controller="AuthController as ctrl" class="settings">
      <div class="settings-inner">
         <div class="settings-content">
            <div class="pt ph">
               <p class="text-muted">{{$root.pos.name}}</p>
               <div class="clearfix mb">
                  <div class="pull-left wd-tiny mb">
                     <label>
                        <small>
                           <strong ng-bind="$root.user.email"></strong>
                        </small>
                     </label>
                  </div>
               </div>
            </div>
            <hr/>
            <div class="pt ph">
               <p class="text-muted"></p>
               <div class="clearfix mb">
                  <div class="pull-left wd-tiny mb">
                     <a href="#" ng-click="ctrl.logout()" class="btn btn-sm btn-danger">
                        <span class="fa fa-power-off">&nbsp;Sair</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>