<div class="app-view-header">Dashboard</div>
<div ng-controller="DashboardController as ctrl" class="container-fluid">
   <div class="text-center">
      <h1>{{ctrl.title}}</h1>
      <p>{{ctrl.text}}</p>
   </div>
   <br/>
   <div class="row">
      <div class="col-lg-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <div class="panel-title">Itens mais vendidos</div>
            </div>
            <div class="panel-body">
               <!-- START table-responsive-->
               <div class="table-responsive">
                  <table class="table">
                     <thead>
                        <tr show="ctrl.patients">
                           <th>Nome</th>
                           <th>Quantidade</th>
                           <th>Valor</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>Item 1</td>
                           <td>25</td>
                           <td>{{99 | currency}}</td>
                        </tr>
                        <tr>
                           <td>Item 2</td>
                           <td>12</td>
                           <td>{{50 | currency}}</td>
                        </tr>
                        <tr>
                           <td>Item 3</td>
                           <td>50</td>
                           <td>{{49 | currency}}</td>
                        </tr>
                        <tr>
                           <td>Item 4</td>
                           <td>1000</td>
                           <td>{{20 | currency}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <!-- START button group-->
               <div dropdown="dropdown" ripple="" class="btn-group pull-right">
                  <button type="button" ng-disabled="disabled" dropdown-toggle="" class="btn btn-md btn-default btn-flat btn-offset-only dropdown-toggle">
                     <em class="fa fa-ellipsis-v"></em>
                  </button>
                  <ul role="menu" class="dropdown-menu">
                     <li><a href="#" ng-click="ctrl.doGroupedSalesReport()">Atualizar</a>
                     </li>
                  </ul>
               </div>
               <!-- END button group-->
               <div class="panel-title">Histórico de Vendas</div>
               <hr/>
               <div class="div form-horizontal">
                  <div class="form-group">
                     <label for="start_date" class="col-md-2 control-label">Data Inicial</label>
                     <div class="col-md-10">
                        <p class="input-group">
                           <input type="text" datepicker-popup="dd/MM/yyyy" ng-model="ctrl.filter.start_date" is-open="ctrl.status.start_datepicker_opened" ng-required="true" close-text="Fechar" current-text="Hoje" clear-text="Limpar" class="form-control"
                           />
                           <span class="input-group-btn">
                              <button type="button" ng-click="ctrl.openDatepicker($event, &quot;start&quot;)" class="btn btn-default">
                                 <em class="fa fa-calendar"></em>
                              </button>
                           </span>
                        </p>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="end_date" class="col-md-2 control-label">Data Final</label>
                     <div class="col-md-10">
                        <p class="input-group">
                           <input type="text" datepicker-popup="dd/MM/yyyy" ng-model="ctrl.filter.end_date" is-open="ctrl.status.end_datepicker_opened" ng-required="true" close-text="Fechar" current-text="Hoje" clear-text="Limpar" class="form-control" />
                           <span class="input-group-btn">
                              <button type="button" ng-click="ctrl.openDatepicker($event, &quot;end&quot;)" class="btn btn-default">
                                 <em class="fa fa-calendar"></em>
                              </button>
                           </span>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="table-responsive">
               <table class="table table-bordered table-striped">
                  <thead>
                     <tr>
                        <th>Data</th>
                        <th>Valor</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="sale in ctrl.sales">
                        <td>{{sale.date | date:shortDate}}</td>
                        <td>{{sale.value | currency : 'R$' : 2}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>