<div class="app-view-header">Ponto de Vendas</div>
<div class="container-fluid">
   <br/>
   <div class="row">
      <div ng-if="!ctrl.status.fullscreen || !ctrl.selectedPOS" class="col-md-6">
         <div class="panel panel-primary">
            <div ng-if="ctrl.selectedPOS == null || ctrl.selectedPOS.id == null || ctrl.selectedPOS.id == ''" class="btn-offset-inner">
               <button type="button" ripple="" ng-click="ctrl.new()" class="btn btn-primary btn-circle btn-lg shadow-z1">
                  <em class="fa fa-plus"></em>
               </button>
            </div>
            <div ng-if="ctrl.selectedPOS &amp;&amp; ctrl.selectedPOS.id != null &amp;&amp; ctrl.selectedPOS.id != ''" class="btn-offset-inner">
               <button type="button" ripple="" ng-click="ctrl.select(ctrl.selectedPOS)" class="btn btn-primary btn-circle btn-lg shadow-z1">
                  <em class="fa fa-play"></em>
               </button>
            </div>
            <div class="panel-heading">Selecione um Ponto de Vendas</div>
            <div class="panel-body">
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>nome</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="pos in ctrl.posList" ng-class="{active: (pos.id === ctrl.selectedPOS.id)}" ng-click="ctrl.edit(pos)">
                           <td>
                              <span ng-bind="pos.name"></span>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div ng-show="ctrl.selectedPOS" ng-class="{'col-md-12': ctrl.status.fullscreen, 'col-md-6': !ctrl.status.fullscreen}" class="col-md-6">
         <div class="panel panel-primary">
            <div class="panel-heading">Cadastro de Ponto de Vendas
               <!-- START button group-->
               <div dropdown="dropdown" ripple="" class="btn-group pull-right">
                  <button type="button" ng-disabled="disabled" dropdown-toggle="" class="btn btn-xs btn-primary btn-flat btn-offset-only shadow-z1 dropdown-toggle">
                     <em class="fa fa-ellipsis-v"></em>
                  </button>
                  <ul role="menu" class="dropdown-menu">
                     <li><a href="#" ng-click="ctrl.destroy(ctrl.selectedPOS)">Remover</a>
                     </li>
                     <li class="divider"></li>
                     <li><a href="#" ng-click="ctrl.toggleFullScreen()">Tela Cheia</a>
                     </li>
                  </ul>
               </div>
               <!-- END button group-->
            </div>
            <div class="panel-body">
               <fieldset>
                  <div class="form-group">
                     <label for="pos_name" class="col-md-2 control-label">Nome</label>
                     <div class="col-md-10">
                        <input id="pos_name" ng-model="ctrl.selectedPOS.name" type="text" class="form-control shadow-z1" />
                     </div>
                  </div>
               </fieldset>
               <hr/>
               <div class="form-group">
                  <button ripple="" ng-click="ctrl.save()" class="btn btn-xs btn-success btn-flat">Salvar</button>
                  <button ripple="" ng-click="ctrl.cancel()" class="btn btn-xs btn-danger btn-flat">Cancelar</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>