<!-- top navbar-->
<header ng-include="'templates/top-navbar.html'" ng-class="app.theme.topbar"></header>
<!-- Generic sidebar-->
<aside ng-include="'templates/first-sidebar.html'" ng-class="app.theme.sidebar" ng-if="!$root.pos"></aside>
<!-- Sidebar-->
<aside ng-include="'templates/sidebar.html'" ng-class="app.theme.sidebar" ng-if="$root.pos"></aside>
<!-- Main-->
<section>
   <!-- Content-->
   <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
   <div ui-view="" autoscroll="false" ng-class="app.views.animation" class="app"></div>
   <div ng-include="'templates/settings.html'" ng-class="{'visible': showSettings}" ng-init="showSettings = false" class="settings-wrapper"></div>
   <!-- End Settings-->
</section>
<!-- Page footer-->
<footer ng-include="'templates/footer.html'"></footer>