<div class="app-view-header">Dashboard
   <small ng-bind="app.name + ' - ' + app.description"></small>
   <small>
      <strong ng-bind="user.email"></strong>
   </small>
</div>
<div ng-controller="DashboardController as ctrl" class="container-fluid">
   <div class="text-center">
      <h1>{{ctrl.title}}</h1>
      <p>{{ctrl.text}}</p>
      <button type="button" ripple="" ng-click="ctrl.loadPatients()" class="mr mb-sm btn btn-info">Carregar Pacientes!</button>
      <button type="button" ripple="" ng-click="ctrl.authenticate()" class="mr mb-sm btn btn-success">Autenticar!</button>
      <button type="button" ripple="" ng-click="ctrl.logout()" class="mr mb-sm btn btn-danger">Sair!</button>
   </div>
   <br/>
   <br/>
   <button type="button" ripple="" ng-click="ctrl.logout()" class="mr mb-sm btn btn-xl btn-circle btn-danger">
      <span class="fa fa-star"></span>
   </button>
   <div class="row">
      <div class="col-lg-6">
         <div class="panel panel-default">
            <div class="panel-heading">Basic Table</div>
            <div class="panel-body">
               <!-- START table-responsive-->
               <div class="table-responsive">
                  <table class="table">
                     <thead>
                        <tr show="ctrl.patients">
                           <th>nome</th>
                           <th>last name</th>
                           <th>gender</th>
                           <th>born</th>
                           <th>emergency</th>
                           <th>emergency nr</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="patient in ctrl.patients">
                           <td>
                              <span ng-bind="patient.name"></span>
                           </td>
                           <td>
                              <span ng-bind="patient.last_name"></span>
                           </td>
                           <td>
                              <span ng-bind="patient.gender"></span>
                           </td>
                           <td>
                              <span ng-bind="patient.born | date"></span>
                           </td>
                           <td>
                              <span ng-bind="patient.emergency_contact"></span>
                           </td>
                           <td>
                              <span ng-bind="patient.emergency_phone"></span>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="panel panel-default">
            <div class="panel-heading"><a ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="test.csv" class="pull-right btn btn-sm btn-primary">Export to CSV</a>
               <div class="panel-title">Table Export</div>
            </div>
            <div class="table-responsive">
               <table ng-table="ctrl.tableParams4" export-csv="csv" class="table table-bordered table-striped">
                  <tbody>
                     <tr ng-repeat="user in $data">
                        <td data-title="'Name'">{{user.name}}</td>
                        <td data-title="'Age'">{{user.age}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>