<div class="app-view-header">Gestão das Vendas</div>
<div class="container-fluid">
   <br/>
   <div class="row">
      <div ng-if="!ctrl.status.fullscreen" class="col-md-6">
         <div class="panel panel-primary">
            <div class="panel-heading">Filtros</div>
            <div class="panel-body">
               <div class="div form-horizontal">
                  <div class="form-group">
                     <label for="start_date" class="col-md-2 control-label">Data Inicial</label>
                     <div class="col-md-10">
                        <p class="input-group">
                           <input type="text" datepicker-popup="dd/MM/yyyy" ng-model="ctrl.filter.start_date" is-open="ctrl.status.start_datepicker_opened" ng-required="true" close-text="Fechar" class="form-control" />
                           <span class="input-group-btn">
                              <button type="button" ng-click="ctrl.openDatepicker($event, &quot;start&quot;)" class="btn btn-default">
                                 <em class="fa fa-calendar"></em>
                              </button>
                           </span>
                        </p>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="end_date" class="col-md-2 control-label">Data Final</label>
                     <div class="col-md-10">
                        <p class="input-group">
                           <input type="text" datepicker-popup="dd/MM/yyyy" ng-model="ctrl.filter.end_date" is-open="ctrl.status.end_datepicker_opened" ng-required="true" close-text="Fechar" class="form-control" />
                           <span class="input-group-btn">
                              <button type="button" ng-click="ctrl.openDatepicker($event, &quot;end&quot;)" class="btn btn-default">
                                 <em class="fa fa-calendar"></em>
                              </button>
                           </span>
                        </p>
                     </div>
                  </div>
               </div>
               <hr/>
               <div class="form-group"><a href="#" ripple="" ng-click="ctrl.doReport()" class="btn btn-md btn-primary btn-flat">Gerar Relatório</a>
               </div>
            </div>
         </div>
      </div>
      <div ng-class="{'col-md-12': ctrl.status.fullscreen, 'col-md-6': !ctrl.status.fullscreen}" class="col-md-6">
         <div class="panel panel-primary">
            <div class="panel-heading">Vendas realizadas
               <!-- START button group-->
               <div dropdown="dropdown" ripple="" class="btn-group pull-right">
                  <button type="button" ng-disabled="disabled" dropdown-toggle="" class="btn btn-xs btn-primary btn-flat btn-offset-only shadow-z1 dropdown-toggle">
                     <em class="fa fa-ellipsis-v"></em>
                  </button>
                  <ul role="menu" class="dropdown-menu">
                     <li><a href="#" ng-click="ctrl.toggleFullScreen()">Tela Cheia</a>
                     </li>
                  </ul>
               </div>
               <!-- END button group-->
            </div>
            <div class="panel-body">
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th>data</th>
                           <th>valor</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="sell in ctrl.sells" ng-click="ctrl.selectSell(sell)" class="clickable">
                           <td>
                              <span ng-bind="sell.created_at | date:'shortDate'"></span>
                           </td>
                           <td>
                              <span ng-bind="sell.value | currency : 'R$' : 2"></span>
                           </td>
                        </tr>
                     </tbody>
                     <tfoot>
                        <tr>
                           <td></td>
                           <td>
                              <strong>Total</strong>
                           </td>
                           <td>
                              <strong>
                                 <span ng-bind="ctrl.status.total_value | currency : 'R$' : 2"></span>
                              </strong>
                           </td>
                        </tr>
                     </tfoot>
                  </table>
               </div>
               <div ng-if="ctrl.selectedSell" class="panel panel-default">
                  <div class="panel-heading">Detalhes da venda</div>
                  <div class="panel-body">
                     <div class="table-responsive">
                        <table class="table table-hover">
                           <thead>
                              <tr>
                                 <th>produto</th>
                                 <th>quantidade</th>
                                 <th>preço</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="entry in ctrl.selectedSell.entries">
                                 <td>
                                    <span ng-bind="entry.product.name"></span>
                                 </td>
                                 <td>
                                    <span ng-bind="entry.quantity | number : 2"></span>
                                 </td>
                                 <td>
                                    <span ng-bind="entry.price_at_date | currency : 'R$' : 2"></span>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>